{% extends 'src/project/swig/layouts/_base.html' %}

{% block base %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title|pageTitle }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/modernizr.js"></script>
        <script type="text/javascript" src="/commons.js"></script>
        <script type="text/javascript" src="/{% if path %}{{ path }}/{% endif %}index.js"></script>
    </head>
    <body class="page {{ classes }}">
        {{ helpers.get_items(items) }}
    </body>
</html>

{% endblock %}