{% extends '_base.html' %}

{% block base %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ get_page_title(title) }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- build:css main.css -->
        <link rel="stylesheet" type="text/css" href="main.css">
        {% block css %}{% endblock %}
        <!-- endbuild -->
        <script type="text/javascript" src="modernizr.js"></script>
    </head>
    <body>
        <div class="page {% block classes %}{% endblock %} {{ classes }}">
        <header>{% block header %}{% endblock %}</header>
        {% block content %}{% endblock %}
        <footer>{% block footer %}{% endblock %}</footer>
        </div>
        <!-- build:js main.js -->
        <script type="text/javascript" src="main.js"></script>
        {% block js %}{% endblock %}
        <!-- endbuild -->
    </body>
</html>

{% endblock %}