.module {
  height: 500px;
}

.module.module-a {
  width: 50%;
  float: left;
}

.module.module-b {
  width: 50%;
  float: right;
}

.module.module-c {
  width: 100%;
}

.module.module-a .component {
  display: inline-block;
}

.module.module-c .component {
  display: inline-block;
}

.module.module-a .component.component-a {
  float: left;
  width: 50%;
}

.module.module-a .component.component-b {
  float: right;
  width: 50%;
}

.module.module-a .component.component-c {
  width: 100%;
}

.module.module-c .component.component-a {
  width: 50%;
  float: left;
}

.module.module-c .component.component-b {
  width: 50%;
  float: right;
}

.module.module-c .component.component-c {
  width: 100%;
}